.wrap {
  width: auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  width: 850px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}