.wrapper{
  //margin-bottom: 150px;

}

.header{
  @apply font-semibold font-sans text-3xl tracking-wide uppercase  text-white;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
}
.image{
  display: flex;
  width: 850px;
  column-gap: 30px;
}
