
.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.text{
  background: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  text-align: justify;
  border-radius: 10px
}
.image {
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
}