.wrap {
  width: 200px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoStyle {
  @apply border border-black text-white bg-black text-xl ;
  a {
    @apply hover:text-white;
  }
}

.linkStyle {
  @apply text-black bg-white border border-zinc-500 text-xl;
  a {
    @apply hover:text-black;
  }
}
