.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.num_input {
  width: 400px;
  height: 42px;
  padding-left: 6px;
  background: white;
  border: 1px solid #CCCCCC;
  border-radius: 8px;

  &:focus {
    outline: none;
    border: 2px solid cornflowerblue;
    //background: cornflowerblue;
  }
}
