.wrap{
  @apply shadow-2xl bg-white shadow-zinc-600;
  width: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auth{
  height: 420px;
}
.reg{
  height: 590px;
}
.header{
  @apply font-sans font-bold text-3xl;
}


.helper{
  @apply font-sans text-sm text-slate-400  break-words;
}