.itemRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 60px;
  @apply border border-b-neutral-400;
}

.rightGray{
  //@apply bg-gradient-to-r  from-5% from-white to-gray-300 text-stone-600;
}

.leftGray{
  //@apply bg-gradient-to-r from-5% from-white to-stone-200 text-black;
}

.headerRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 60px;
  @apply bg-zinc-900 text-white font-sans text-xl font-medium;
}
.indClasses{
  background: none;
  margin-right: 12px;
  text-align: left;
}
.itemRow__item{
  @apply bg-white text-black font-sans text-lg;
  width: 310px;
  text-align: center;
  background: none;
  &:nth-child(5){
    width: 80px;
    color: cornflowerblue;
    margin-right: 20px;
    text-decoration: none;
  }
}

.headerRow__item{
  width: 290px;
  background: none;
  text-align: center;
  &:nth-child(5){
    width: 80px;
    margin-right: 20px;
  }
}

.header__numb{
  width: 20px;
}