.wrapper {
  width: 1400px;
  min-height: 870px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.test {
  //width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.text {
  word-wrap: break-word;
}
