.wrapper {
  width: 1500px;
  padding-top: 20px;
  min-height: calc(100% - 170px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.test {
  //width: 100%;
  //padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.text {
  word-wrap: break-word;
}
