.wrap {
  height: calc(100vh - 70px);
  width: 100%;
  padding-top: 15px;
  @apply font-sans text-2xl;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  align-items: center;
  margin-top: 10px;
  @apply rounded;
}

.formBlockWrapper {
  @apply bg-gradient-to-r to-stone-600 from-violet-700 rounded-xl;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 733px;
}

.prom {
  @apply bg-white rounded-xl;
  width: 896px;
  height: 729px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  //align-items: center;
}

.twoBlocks {
  width: 900px;
  column-gap: 80px;
  display: flex;
  justify-content: space-around;
}

.twoElem {
  width: 350px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  width: 900px;
  row-gap: 20px;
}

.form {
  display: flex;
  flex-flow: column;
  //justify-content: space-around;
  min-height: 500px;
}

.formHeader {
  @apply font-semibold font-sans text-2xl tracking-wide uppercase border-b border-zinc-300;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
}

.imagesActive {
  flex-flow: row;
  margin-right: 75px;
  margin-left: 75px;
}

.imagesNotActive {
  flex-flow: column;
  column-gap: 70px;
}

.namesBlock {
  display: flex;
  width: 100%;
  justify-content: space-around;
  column-gap: 80px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}