.wrapInfo{
  width: 850px;
  height: 420px;
}
.wrapLink{
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.title{
  @apply font-sans font-bold subpixel-antialiased ;
}
.infoTitle{
  @apply text-6xl
}
.linkTitle{
  @apply text-3xl;
}
.label{
  @apply my-8 break-words;
  width: 100%;
}
.infoLabel{
  @apply text-xl text-zinc-700;
}

.linkLabel{
  @apply text-black text-xl;
}