.wrap{
  width:100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  @apply text-black border-t-2 border-black;

}
.last{
  &::after{
    content: "X";
    position: relative;
    @apply font-sans font-medium text-4xl;
    left: -760px;
    top: -22px;
  }
}