.wrap{
  width: 55px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 3px;
  @apply text-black border-r-2 border-r-black;
}

.first{
  width: 100%;
  //padding-right: 0px;
  &::after{
    content: "Y";
    position: relative;
    left: 2px;
    height: 30px;
    top: -36px;
    @apply font-sans font-medium text-4xl;
    padding-bottom: 5px;
  }
}